* {
    margin: 0;
}
::selection {
    color: white;
    background: rgb(123, 0, 255);
  }
html {
    background: rgb(132, 0, 255);
}

.container form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5% 15%;
    width: 40%;
    background-color: rgb(58, 57, 57);
    margin: auto auto;
    border-radius: 3%;
}

#CM {
    text-align: center;
    margin-bottom: 50px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.container form input,
textarea {
    background-color: rgb(129, 129, 129);
    width: 97.5%;
    border: transparent;
    color: white;
    outline: none;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    border-radius: 20px;
}

.container form .each {
    margin: 4% auto;
}

.container form label {
    margin: 1px 10px;
    color: white;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#btn {
    transition-duration: .5s;
    display: block;
    margin: auto;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    color: white;
    border: 2px solid white;
    background-color: rgb(41, 41, 41);
}
#btn:hover{
    border: 2px solid rgb(123, 123, 123);
    background-color: transparent;
}


@media only screen and (max-width:500px) {
    #CM{
        font-size: 20px;
    }
    #btn{
        font-size: small;
        padding: 5px 10px;
    } 
    .container form label{
        font-size: small;
    } 
   
    .container form input,
textarea{
    width: 95%;
    padding: 5px;
}

}
@media only screen and (max-width:320px){
    #CM{
        font-size: 15px;
        margin-bottom: 30px;
    }
    #btn{
        font-size: small;
        padding: 3px 7px;
    } 
    .container form label{
        font-size: 10px;
    } 
   
    .container form input,
textarea{
    width: 95%;
    padding: 0px;
}
}
